
text,
h1,
p,
h2,
p,
li{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 1500;
  font-size: 35px;
  font-style: normal;

}

body{
  background-color: lightblue;
}