body{
    background-color:rgb(147, 194, 194);
}





table {
    margin: 0 auto;

}
table,
tr,
td{
    border:5px solid rgb(0, 133, 167);

}
text {
    text-align: center;
}
text, 
h1{
    text-align: center;
}

h1{
        font-family: "Jersey 10 Charted", sans-serif;
        font-weight: 100;
        font-style: normal;

}

h1{font-size: 50px;}
